@import '~styles/mixins.scss';

.fx-flex-between{
  @include flex-between();
}

.fx-flex-center{
  @include flex-center();
}

.fx-link{
  color: $color-link;
  cursor: pointer;
  &:hover{
    text-decoration: underline
  }
}
