@import 'variables.scss';

/* flex-center */
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
/* 水平居中 */
@mixin flex-center-x() {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* 垂直居中 */
@mixin  flex-center-y() {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* flex-between */
@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ellipsis */
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* multi line ellipsis */
@mixin multiline-ellipsis($num: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  white-space: normal !important;
  word-wrap: break-word;
}

@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
  @include flex-center();
}
