
/* ******************** 颜色 ******************** */
$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;

/* 行为相关颜色 */
$color-primary: teal;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

/* border */
$color-border: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

/* 文字基本颜色 */
$color-title: #303133;
$color-sub-title: #303133;
$color-text: #606266;
$color-text-description: #909399;
$color-text-placeholder: #C0C4CC;
$color-link: #0366d6;


/* 文字尺寸 */
$font-size-sm-s: 10px;
$font-size-sm: 12px;
$font-size: 14px;
$font-size-x: 16px;
$font-size-lg: 18px;
$font-size-lg-x: 22px;

// 面包屑配置
$breadcrumb-height: 35px;
$breadcrumb-bgc: #ddd;

/*** 背景颜色 ***/
$html-bgc: #f5f7fa;
$layout-bgc: #f5f7fa;
$footer-bgc: #eee;
$footer-c: #000;
$menu-bgc: #151524;
$menu-c: #fff;
$menu-level-1-bgc: #151524;
$menu-level-1-hover-bgc: #eee;
$menu-level-1-active-c: #fff;
$menu-level-2-bgc: #242536;
$menu-level-2-hover-bgc: #eee;
$menu-level-2-active-c: #fff;
$menu-logo-bgc: #151524;
$menu-help-bgc: #151524;
$menu-help-sc: #000;
$menu-help-c: #fff;

/**** dialog颜色配置 ****/
$dialog-sc: #4c5e70;
$dialog-title-bgc: #020508;
$dialog-title-c: #fff;
$dialog-footer-c: #f5f7fa;
