$--color-primary: teal;
// $--color-primary: rgb(0, 166, 155);

// 面包屑配置
$breadcrumb-height: 35px;
$breadcrumb-bgc: #ddd;

/*** 背景颜色 ***/
$html-bgc: #f5f7fa;
$layout-bgc: #f5f7fa;
$footer-bgc: #eee;
$footer-c: #000;
$menu-bgc: #151524;
$menu-c: #fff;
$menu-level-1-bgc: #151524;
$menu-level-1-hover-bgc: #eee;
$menu-level-1-active-c: #fff;
$menu-level-2-bgc: #242536;
$menu-level-2-hover-bgc: #eee;
$menu-level-2-active-c: #fff;
$menu-logo-bgc: #151524;
$menu-help-bgc: #151524;
$menu-help-sc: #000;
$menu-help-c: #fff;

/**** dialog颜色配置 ****/
$dialog-sc: #4c5e70;
$dialog-title-bgc: #020508;
$dialog-title-c: #fff;
$dialog-footer-c: #f5f7fa;
